<!-- librarianDashboard.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Librarian Dashboard</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('librarian_dashboard')}}">Librarian Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('view_requests')}}">Requests</a>
          </li>

          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Stats</a>
          </li> -->
        </ul>
       
        <form
          action="{{ url_for('librarian_logout') }}"
          method="post"
          class="form-inline my-2 my-lg-0"
        >
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
            Logout
          </button>
        </form>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        {% for book in books%}
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ book.name }}</h5>
              <h6 class="card-title">{{ book.author }}</h6>
              <p class="card-title">{{ book.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
