<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Requests</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{url_for('librarian_dashboard')}}">Librarian Dashboard</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('view_requests')}}">Requests</a>
                </li>
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Stats</a>
            </li> -->
          </ul>
          <a href="{{ url_for('render_section') }}" class="btn btn-outline-success" style="margin-right: 20px;">Add Section</a>
          <form action="{{ url_for('librarian_logout') }}" method="post" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </div>
    </nav>
    <div class="container mt-5">
        <h2>Requests</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Book</th>
                    <!-- <th>Status</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for request_item in requests %}
                <tr>
                    <td>{{ request_item.user.username }}</td>
                    <td>{{ request_item.book.title }}</td>
                    <!-- <td>{{ request_item.status }}</td> -->
                    <td>
                        {% if request_item.status == 'pending' %}
                            <a href="{{ url_for('request_details', request_id=request_item.id) }}" class="btn btn-primary">View</a>
                        {% else %}
                            {{ request_item.status }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
